{% extends 'chat/layout.html' %}

{% block title %}
<title>Error</title>
{% endblock %}

{% block body %}
<style>
    .error-div {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 10px;
        
    }   
    .error-div span{
        color: red;
        font-weight: bold;
        font-size: 20px;
    }
    .error-div p{
        font-size: 50px;
        font-weight: bolder;
    }
</style>
<div class = "error-div"><p>Oops something went wrong</p><span>{{message}}</span></div>


{% endblock %}