{% extends "chat/layout.html" %}
{% load static %}

{% block title %}
<title>Index</title>
<link href = '{% static "chat/index.css" %}' rel = "stylesheet">
<script src = "{% static 'chat/index.js' %}"></script>
{% endblock %}

{% block body %}
<div class = "main-wrapper-div">
    <div id = "search_chat_wrapper_div">
        <h3>Browse Chats</h3>
        <button id = "search_chats_button">Search chats</button>
        <div id = "current_live_chats_div"></div>
    </div>
    <div id = "create_chat_wrapper_div">
        <h1>Create a chat room</h1>
        <p class = "error-div"></p>
        <p class = "success-div"></p>
        <input id = "chat_name" class = "form-control" type = "text" placeholder="Chat Name" autofocus autocomplete="off">
        <br>
        <input id = "chat_category" class = "form-control" type = "text" placeholder="Category" autocomplete="off">
        <br>
        <input id = "chat_password" class = "form-control" type = "text" placeholder="Password" autocomplete="off" style="visibility:hidden" maxlength="20">
        <br>
        <button class = "active-button" id = "public-chat-state-button">Public</button>
        <button id = "private-chat-state-button">Private</button>
        <br>
        <button id = "create-chat-button" chat_type = "public">Create</button>
    </div>
</div>

{% endblock %}