#login-form-wrapper-div, #register-form-wrapper-div{
    text-align: center;
}

#login-form-wrapper-div span, #register-form-wrapper-div span{
    font-size: 2em;
    font-weight: bold;
}

#register-form-wrapper-div #message-wrapper-div, #login-form-wrapper-div #message-wrapper-div{
    color: red;
    margin-bottom: 1em;
}

#login-form-wrapper-div form .form-group, #register-form-wrapper-div form .form-group{
    width: 75%;
    margin: auto;
    margin-bottom: 1em;
}

